h1{color:#9988aa;
margin-left: 30px;
padding-left: 30px;
}
/**{
 border:solid;
}*/

.header
{
background-color: #88ff88;
display:flex;
justify-content: space-between;
}

.grid
{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
background-color: #deb887;
}

.footer
{
display:flex;
justify-content: flex-end;
background-color: #aa00ff;
}

p,h2{
text-align: center;
}

body{
background-color: #444488;
}

.item
{
background-color: #ff8c00;
position:relative;
}

.item p{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity: 0;
}

.item img{
opacity: 0.5;
}

.item:hover p{
opacity: 1;
}

.item:hover img{
    opacity: 1;
    }
    
